<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Configuração Usuario</title>
    <div th:replace="base :: import"></div>

</head>
<body>
<header><!--standardNav-->
    <div th:replace="base :: nav"></div>
</header><!--standardNav-->
<main>
    <div class="container">

        <h4>Configurações Usuário:</h4>

        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="section col s12 m10 l10 xl10">
                    <h6>Nome Usuário:</h6>
                    <input th:value="${usuario.getNomeUsuario}" class="input-field" type="text" autocomplete="off" required name="nomeUsuario" maxlength="25" minlength="8"/>
                </div>
                <div class="section col s12 m10 l10 xl10">
                    <h6>Senha Usuário</h6>
                    <input class="input-field" type="password" autocomplete="off" required name="senha" min="8" max="25"/>
                </div>
                <div class="section col s12 m10 l10 xl10">
                    <h6>Foto Usuario:</h6>
                    <div class="file-field input-field">
                        <div class="btn blue">
                            <span>Foto Usuario</span>
                            <input name="file" type="file" accept=".png, .jpeg, .jpg">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="section col s12 m10 l10 xl10">
                    <button type="submit" class="btn waves-effect waves-light blue right">Salvar Informacoes</button>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</main>
<footer>
    <div th:replace="base :: footer"></div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>