<!DOCTYPE html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Produtos Store</title>
    <div th:replace="base :: import"></div>

</head>
<body>
<header><!--standardNav-->
    <div th:replace="base :: nav"></div>
</header><!--standardNav-->
<main>
    <div class="container row">

        <h4>Informações Produto:</h4>

        <div class="card">
            <img class="col card-image" alt="Image" th:src="'/image/iconProd/'+${produto.getId}"/>
        </div>
        <div th:if="${!produtoNoCarrinho}" class="row">
             <a th:if="${!myProduto}" th:href="${'/adicionarCarrinho/'+produto.getId}" class="btn waves-effect waves-light blue">
                 <i class="material-icons">add_shopping_cart</i>
                 Adicionar no Carrinho
             </a>
        </div>
        <div th:if="${produtoNoCarrinho}" class="row">
            <a th:if="${!myProduto}" th:href="${'/removerCarrinho/'+produto.getId}" class="btn waves-effect waves-light red">
                <i class="material-icons">remove_shopping_cart</i>
                Remover do Carrinho
            </a>
        </div>
        <div class="divider"></div>
        <div class="row">

            <br>

            <ul class="collection with-header">
                <li class="collection-header"><h5>Informações do Produto:</h5></li>
                <li class="collection-item"><h6><b>Preço: R$:</b> <span th:text="${produto.getPreco}"></span></h6></li>
                <li class="collection-item"><h6><b>Categoria:</b> <span th:text="${produto.getCategoria}"></span></h6></li>
                <li class="collection-item"><h6><b>Em Estoque:</b> <span th:text="${produto.getUnidades}"></span></h6></li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header">Descrição do Produto:</li>
                <li class="collection-item"><b><span th:text="${produto.getDescricao}"></span></b></li>
            </ul>

            <br>

        </div>
        <div class="divider"></div>
        <div class="row">
            <h5>Comentarios:</h5>
     
            <form th:if="${!myProduto}" method="post">
                <div class="file-field input-field">
                    <div class="file-path-wrapper">
                        <input class="file-path validate" name="comentario" type="text" required autocomplete="off" maxlength="50" placeholder="Deixe seu comentario">
                    </div>
                    <div>
                        <button type="submit" class="btn blue waves-effect waves-light"><i class="material-icons">edit</i> Comentar</button>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
        </div>
            <div th:if="${produto.produtoContainsComentario}" class="row">
                <ul class="collection">
                    <li th:each="comentario : ${produto.getCometariosProduto}" class="collection-item avatar card">
                        <img alt="Image" th:src="'/image/iconUser/'+${comentario.getNomeUsuario}" class="circle">
                        <span th:text="${comentario.getNomeUsuario+'  -  '+comentario.getDataComentario}" class="title"></span>
                        <br>
                        <span th:text="${comentario.getComentario}"></span>
                    </li>
                </ul>
            </div>
        <div th:if="${!produto.produtoContainsComentario and !myProduto}">
            <h5 class="center">Seja o Primeiro a Deixar Um Comentário!</h5>
        </div>
    </div>
</main>
<footer>
    <div th:replace="base :: footer"></div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>